/* General styles */

.module > a {
  color: inherit;
  display: block;
  text-decoration: none;
}

.module > a + a,
seven-seas-card + seven-seas-card {
  margin-top: 15px;
}

seven-seas-card {
  max-width: 100%;
}

form {
  margin: 15px;
}

form seven-seas-button {
  float: right;
  margin-top: 15px;
}
